.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
  }
  
  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  .card{
    background-color: #0e1c36;
  }
  
  a{
    text-decoration: none;
  }

  .text-center .btn{
    background: linear-gradient(90deg, rgba(9,14,124,1) 0%, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 61%);
    border: none;
    font-weight: bold;
  }
  .reg{
    text-decoration: underline;
  }