<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- LinkedIn -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/amr-salah148/" target="_blank" role="button">
            <i style="font-size:  1.8em; color: #0077b5;" class="bi bi-linkedin"></i>
        </a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/EngAmrs" target="_blank" role="button">
            <i style="font-size:  1.8em;" class="bi bi-github"></i>
        </a>

      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <hr style="margin: 0 10em;">
    <div class="text-center p-3 bg-dark"  >
      © 2023 Copyright:
      <a class="text-white" href="https://github.com/EngAmrs" target="_blank">Amr Salah</a>
    </div>
    <!-- Copyright -->
  </footer>